@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');

body {
    font-family: 'Baloo Tammudu 2', sans-serif;
    scroll-behavior: smooth;
}

/** Header area */

.container {
    padding: 8px 150px;
}

#img-banner img {
    width: 100%;
    height: 280px;
    border-radius: 5px 5px 0 0;
    position: relative;
}

#img-profile img {
    width: 200px;
    height: 200px;
    border: 4px solid #fff;
    border-radius: 100%;
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
}

#info {
    text-align: center;
    margin-top: 80px;
}

#info h1 {
    margin: 0;
    font-size: 2.2rem;
}

#info p {
    margin: 0;
    font-size: 1.3rem;
    text-shadow: 0 .3rem 1rem rgba(0, 0, 0, .5);
}

#social-icons {
    font-size: 2.1rem;
    margin-top: 10px;
}

#social-icons a {
    margin-right: 2rem;
    color: #1d1d1d;
}

#social-icons a:last-child {
    margin-right: 0;
}

#social-icons a:hover {
    color: #000;
}

/** Knowledge area */

.section-header {
    text-align: center;
    margin-top: 30px;
}

.section-header img {
    width: 500px;
    height: 30px;
}

#knowledge-body {
    display: grid;
    grid-template-areas: 'l r';
    grid-template-columns: 1fr 1fr;
}

.technologies {
    width: 400px;
    padding: 15px;
    grid-area: l;
}

.about {
    width: 400px;
    padding: 15px;
    grid-area: r;
}

.about p {
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
}

@keyframes load {
    from {
        width: 0%;
    }
}

@-webkit-keyframes load {
    from {
        width: 0%;
    }
}

@-moz-keyframes load {
    from {
        width: 0%;
    }
}

@-o-keyframes load {
    from {
        width: 0%;
    }
}

.technologies h1,
.about h1 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 10px;
}

.technologies ul {
    list-style: none;
}

.technologies ul li h4 {
    margin: 0;
}

.bar {
    height: 15px;
    margin-bottom: 15px;
}

.bar::before {
    content: "";
    background-color: royalblue;
    display: inline-block;
    padding: 8px;
    border-radius: 10px;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
}

.bar.bar1::before {
    width: calc(80% - 10px);
}

.bar.bar2::before {
    width: calc(45% - 10px);
}

.bar.bar3::before {
    width: calc(30% - 10px);
}

.bar.bar4::before {
    width: calc(55% - 10px);
}

/** Responsive area */

@media screen and (max-width: 860px) {
    .container {
        padding: 8px 8px;
    }

    #img-banner img {
        height: 180px;
    }

    #img-profile img {
        width: 150px;
        height: 150px;
        top: 120px;
    }

    #info h1 {
        font-size: 1.7rem;
    }

    #info p {
        font-size: 1.1rem;
    }

    #knowledge-body {
        grid-template-areas: 'l' 'r';
        grid-template-columns: 1fr;
    }

    .section-header h1 {
        font-size: 1.5rem;
    }

    .section-header img {
        width: 280px;
    }

    .technologies, .about {
        width: 90%;
    }

    .technologies h1,
    .about h1 {
        font-size: 1.5rem;
    }
}